*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;

}

body{
    min-height:100vh;  /*1vh refers to the 1% of the entire height of the browser*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: url('images/background.jpg');
    
    background-size: cover;
}

.container{
    width:400px;
    height: min-content;
    background-color: #B486AB;
    border-radius: 12px;
    padding: 28px;

}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize; /*makes first letter capitalize*/
    color: #000;
    background-color: #e6f5fb;
    padding:14px 16px;
    border-radius: 12px ;

}

.search-box input ::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    
}

.search-box button:hover{
    color: #fff;
    background-color: #ababab;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px; /* margin top and bottom*/

}
.weather-body img{
    width: 60%;
    border-radius: 10px;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;

}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
} 

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.location_not_found{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.location_not_found img{
    width: 60%;
    margin-top: 20px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left:10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}